service vendor.sensors-hal-2-0-multihal /system/bin/hw/android.hardware.sensors@2.0-service.multihal
    class hal
    user system
    group system wakelock context_hub
    writepid /dev/cpuset/system-background/tasks
    capabilities BLOCK_SUSPEND
    rlimit rtprio 10 10
